<h1>Listing addresses</h1>

<table>
  <tr>
    <th>Formatted address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Street number</th>
    <th>Route</th>
    <th>Locality</th>
    <th>Neighborhood</th>
    <th>Administrative area level 2</th>
    <th>Administrative area level 1</th>
    <th>Country</th>
    <th>Postal code</th>
    <th>Floor area</th>
    <th>Year built</th>
    <th>Occupancy</th>
    <th>Heat</th>
    <th>Wood stove</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.formatted_address %></td>
    <td><%= address.latitude %></td>
    <td><%= address.longitude %></td>
    <td><%= address.street_number %></td>
    <td><%= address.route %></td>
    <td><%= address.locality %></td>
    <td><%= address.neighborhood %></td>
    <td><%= address.administrative_area_level_2 %></td>
    <td><%= address.administrative_area_level_1 %></td>
    <td><%= address.country %></td>
    <td><%= address.postal_code %></td>
    <td><%= address.floor_area %></td>
    <td><%= address.year_built %></td>
    <td><%= address.occupancy %></td>
    <td><%= address.heat %></td>
    <td><%= address.wood_stove %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_path %>
