<p id="notice"><%= notice %></p>

<p>
  <b>Q1kwh:</b>
  <%= @energybill.q1kwh %>
</p>

<p>
  <b>Q2kwh:</b>
  <%= @energybill.q2kwh %>
</p>

<p>
  <b>Q3kwh:</b>
  <%= @energybill.q3kwh %>
</p>

<p>
  <b>Q4kwh:</b>
  <%= @energybill.q4kwh %>
</p>

<p>
  <b>Q1ccf:</b>
  <%= @energybill.q1ccf %>
</p>

<p>
  <b>Q2ccf:</b>
  <%= @energybill.q2ccf %>
</p>

<p>
  <b>Q3ccf:</b>
  <%= @energybill.q3ccf %>
</p>

<p>
  <b>Q4ccf:</b>
  <%= @energybill.q4ccf %>
</p>

<p>
  <b>Address:</b>
  <%= @energybill.address_id %>
</p>


<%= link_to 'Edit', edit_energybill_path(@energybill) %> |
<%= link_to 'Back', energybills_path %>
